name: CI con Tests y Docker Hub

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Ejecutar Pruebas Unitarias
        run: node test.js  # El robot ejecutará nuestro script de test

  build-and-push:
    needs: test # <--- ¡ESTO ES CLAVE! No empieza hasta que 'test' termine bien
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login en Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mi-app-devops:latest
  terraform:
    needs: build-and-push # Solo si la imagen se subió bien
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Configurar Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve # -auto-approve para que no pida "yes"
  